.aside {
    background: var(--light-orange);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1.5rem;
    min-width: 15rem;
    min-height: 20rem;
}

.aside__item {
    background: var(--orange);
    flex-grow: 1;
    margin-bottom: 1rem;
}

.aside__item:last-child {
    margin-bottom: 0;
}