.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--blue);
}

.header > * {
    margin-right: 1rem;
}

.header > *:last-child {
    margin-right: 0;
}

.header__logo {
    background: var(--black);
    color: var(--white);
    padding: 0 .3rem;
    width: 2rem;
    height: 2rem;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}