$black: #000;
$silver:#636769; /*some text*/ 
$gray: #CAC8C3; /*banner background*/ 
$medium-gray: #E8E9EB; /*borders*/ 
$light-gray: #F2F3F5; /*button gray*/ 
$dark-white: #F8F9F9; /*background create a blank website*/ 
$white: #fff;
$purple: #7D29E8;
$cyan: #00C4CC;

$container-padding: 2rem;