<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boceto 1</title>
    <link rel="stylesheet" href="../css/one/styles.css">
</head>
<body>
    <header class="header box">
        <div class="header__logo">FM</div>
        <nav class="menu menu--big">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="content box">
            <article class="content__article">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolore possimus magni expedita, eos nostrum? Esse laudantium voluptatem mollitia necessitatibus quasi accusantium doloremque exercitationem sint nam. Provident accusantium recusandae sed eligendi totam pariatur sequi exercitationem voluptatibus, officia quidem aliquam, rerum asperiores tempore saepe cum amet cupiditate numquam suscipit vel quaerat enim, itaque in velit. Blanditiis, dolores? Rerum voluptas necessitatibus reiciendis. Ducimus quis dolorem iste odit, odio voluptatibus dignissimos officiis corrupti.</p>
            </article>
            <article class="content__article">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, iusto quis ducimus est quae eveniet libero voluptas repellendus sint tenetur, perspiciatis totam. Quos ut id commodi repellat quisquam totam tenetur, quam officia dolorem aliquid inventore eum dicta, ipsum fugiat explicabo perferendis assumenda unde, aliquam eaque non facere? Hic, non at!</p>
            </article>
        </section>
        <aside class="aside">
            <div class="aside__item"></div>
            <div class="aside__item"></div>
        </aside>
    </main>
    <footer class="footer box">
        <nav class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <nav class="menu menu--orange">
            <ul>
                <li><a href="#">FB</a></li>
                <li><a href="#">TW</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>