<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boceto 2</title>
    <link rel="stylesheet" href="../css/two/styles.css">
</head>

<body>
    <header class="header">
        <div class="header__item">
            <div class="header__logo">
                <img src="../assets/two/logo.svg" alt="logo" title="logo" />
            </div>
            <nav class="header__menu">
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Templates</a>
                    <nav class="header__submenu">
                        <ul>
                            <li><a href="#">Templates 1</a></li>
                            <li><a href="#">Templates 2</a></li>
                            <li><a href="#">Templates 3</a></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <a href="#">Features</a>
                    <nav class="header__submenu">
                        <ul>
                            <li><a href="#">Features 1</a></li>
                            <li><a href="#">Features 2</a></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <a href="#">Learn</a>
                    <nav class="header__submenu">
                        <ul>
                            <li><a href="#">Learn 1</a></li>
                            <li><a href="#">Learn 2</a></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <a href="#">Plans</a>
                    <nav class="header__submenu">
                        <ul>
                            <li><a href="#">Plans 1</a></li>
                            <li><a href="#">Plans 2</a></li>
                            <li><a href="#">Plans 3</a></li>
                            <li><a href="#">Plans 4</a></li>
                            <li><a href="#">Plans 5</a></li>
                        </ul>
                    </nav>
                </li>
            </nav>
        </div>
        <div class="header__item">
            <div class="header__search">
                <span class="header__input">
                    <img src="../assets/two/search.png" alt="search" title="search" />
                    <input type="search" value="websites" />
                </span>
                <img src="../assets/two/question.svg" alt="question" title="question" />
            </div>
            <button class="btn btn--gray">Log in</button>
            <button class="btn btn--purple">Sign up</button>
        </div>
    </header>

    <main class="main">
        <section class="banner">
            <article class="banner__text">
                <div class="banner_breadcrumb breadcrumb">
                    <span class="breadcrumb__item">Home</span>
                    <span class="breadcrumb__item">Website templates</span>
                </div>
                <h1>Website templates</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit nam ad deserunt? Nemo sunt,
                    incidunt error eum magni recusandae animi repudiandae, ipsa dolore inventore doloribus veritatis
                    veniam laboriosam voluptatum reprehenderit accusamus dignissimos consectetur quaerat suscipit quam
                    repellendus numquam. Illo harum voluptatibus pariatur possimus tempore sint nulla incidunt! A, sit
                    quae?</p>
            </article>
            <div class="banner__image">
                <img src="../assets/two/website.webp" alt="computer" title="computer" />
            </div>
        </section>

        <section class="album">
            <article class="album__container">
                <div class="album__item">
                    <div class="album__empty">
                        <div class="album__plus">
                            <img src="../assets/two/plus.svg" alt="plus" title="plus">
                        </div>
                        <span>Create a blank website</span>
                    </div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/canva-umber-experimental-art-deco-beauty-website-r5Bt3HjRBtI.jpg"
                            alt="Template 1" title="Template 1">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__face">
                        <div class="album__image">
                            <img src="../assets/two/canva-black-flat-&amp;-minimalist-accounting-business-website-3vsXGC3Eu3o.jpg"
                                alt="Template 2" title="Template 2">
                        </div>
                        <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                            esse!</div>
                    </div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__face">
                        <div class="album__image">
                            <img src="../assets/two/800w-ZmYFlhwFbUM.webp" alt="Template 3" title="Template 3">
                        </div>
                        <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                            esse!</div>
                    </div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__face">
                        <div class="album__image">
                            <img src="../assets/two/800w-Z7Uac4h_njM.webp" alt="Template 4" title="Template 4">
                        </div>
                        <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                            esse!</div>
                    </div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-Rxlle18jVl4.webp" alt="Template 5" title="Template 5">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">

                    <div class="album__image">
                        <img src="../assets/two/800w-ox5lWZYio70.webp" alt="Template 6" title="Template 6">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-ml95bbIuMOg.webp" alt="Template 7" title="Template 7">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__face">
                    <div class="album__image">
                        <img src="../assets/two/800w-mbBa-FxXu7c.webp" alt="Template 8" title="Template 8">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-K-ZlH3g8E28.webp" alt="Template 9" title="Template 9">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-hWNXiJgTIhY.webp" alt="Template 10" title="Template 10">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-DXf6yKo25qA.webp" alt="Template 11" title="Template 11">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-7YMy5jPPeHw.webp" alt="Template 12" title="Template 12">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-5dYvGPAZRxg.webp" alt="Template 13" title="Template 13">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-4GTq9P6-NuA.webp" alt="Template 14" title="Template 14">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-4GTq9P6-NuA2.webp" alt="Template 15" title="Template 15">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-0yfrznxTzTc.webp" alt="Template 16" title="Template 16">
                    </div>
                    <div class="album__description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, esse!
                    </div>
                </div>
            </article>
            <article class="album__container album__container--flipped">
                <div class="album__item">
                    <div class="album__image">
                        <img src="../assets/two/800w-_yzO-Pk2xkU.webp" alt="Template 17" title="Template 17">
                    </div>
                    <div class="album__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed,
                        esse!</div>
                </div>
            </article>
        </section>
    </main>

</body>

</html>
